.p-dataview {
  .p-dataview-emptymessage {
    padding: 1rem;
  }
}

.p-button {
  &:disabled {
    cursor: not-allowed;
  }
}

.p-drawer .p-drawer-header {
  padding: 5px !important;
}

.p-card {
  padding: 0.5rem;
}

.p-divider .p-divider-horizontal {
  margin: 2px;
}
