<div class="w-full flex flex-col md:flex-row gap-4">

    <!-- Filtros -->
    <div
        [ngStyle]="{backgroundColor:'var(--surface-overlay)'}"
        class="hidden md:block h-auto w-full md:w-[30%] rounded-lg p-4">
        <app-search-filters />
    </div>

    <!-- Mapa e coletas -->
    <div class="w-full md:w-[70%]">
        <div class="flex flex-col gap-4 justify-start items-start">
            <!-- Mobile Filters Button -->
            <div class="flex w-full justify-end md:hidden">
                <p-button (click)="collectSearchFilterDialog = true"
                    severity="secondary" label="Filtros"
                    icon="pi pi-align-justify" />
            </div>

            <app-search-map id="mapRef" class="w-full h-full" />

            <app-search-items class="w-full h-full" />
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="collectSearchFilterDialog"
    [breakpoints]="{
        '1800px': '50vw',
        '1600px': '50vw',
        '800px': '70vw',
        '650px': '80vw',
        '575px': '90vw',
      }"
    [style]="{ width: '100%' }"
    (onHide)="collectSearchFilterDialog = false">
    <ng-template #content>
        <app-search-filters (hideDialog)="collectSearchFilterDialog = false" />
    </ng-template>
</p-dialog>
