<nz-card style="width: 100%" nzTitle="Observações">
  <form [formGroup]="collectObservationDataForm" class="form">
    <div nz-row>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="stick">
          <label for="stick" nz-checkbox formControlName="stick">Galho Seco</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="brokenBranch">
          <label for="brokenBranch" nz-checkbox formControlName="brokenBranch"
            >Galho Quebrado</label
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="vineGrowing">
          <label for="vineGrowing" nz-checkbox formControlName="vineGrowing"
            >Presença de cipó crescendo no pé</label
          >
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-row>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="burntBranch">
          <label for="burntBranch" nz-checkbox formControlName="burntBranch">Queimado</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="struckByLightning">
          <label for="struckByLightning" nz-checkbox formControlName="struckByLightning"
            >Atingido por raio</label
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="drill">
          <label for="drill" nz-checkbox formControlName="drill">Broca</label>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="anthill">
          <label for="anthill" nz-checkbox formControlName="anthill">Formigueiro próximo</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="inExperiment">
          <label for="inExperiment" nz-checkbox formControlName="inExperiment"
            >Em experimento/teste</label
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="weedsInTheBasin">
          <label for="weedsInTheBasin" nz-checkbox formControlName="weedsInTheBasin"
            >Mato na bacia</label
          >
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-row>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="fertilizationOrManuring">
          <label for="fertilizationOrManuring" nz-checkbox formControlName="fertilizationOrManuring"
            >Parada de pulverização/adubação no final do dia</label
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="mites">
          <label for="mites" nz-checkbox formControlName="mites">Presença de ácaro</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="thrips">
          <label for="thrips" nz-checkbox formControlName="thrips">Alta presença de tripes</label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-row>
      <nz-form-item nz-col nzSpan="24" [nzMd]="8">
        <nz-form-control id="emptyCollectionBoxNear">
          <label for="emptyCollectionBoxNear" nz-checkbox formControlName="emptyCollectionBoxNear"
            >Caixa de colheita vazia perto</label
          >
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <div class="action">
    <button id="save" nz-button nzType="primary" (click)="saveObservationCollectDataHandler()">
      Salvar
    </button>
  </div>
</nz-card>
