<div class="w-full flex flex-col md:flex-row gap-2">

    <!-- Filtros -->
    <div
        [ngStyle]="{backgroundColor:'var(--surface-overlay)'}"
        class="h-full w-full md:w-[30%] rounded-lg p-4">
        <app-collect-search-filters  />
    </div>

    <!-- Mapa e coletas -->
    <div class="h-screen w-full md:w-[70%]">
        <div class="flex flex-col gap-4 justify-start items-start">
            <app-collect-search-map id="mapRef" class="w-full h-full" />

            <app-collect-search-items  class="w-full h-full" />
        </div>
    </div>
</div>
