<div class="w-full mt-2">

    <div class="flex w-full justify-between items-start">
        <p-steps class="w-full" [model]="items" [readonly]="false"
            [activeIndex]="activeIndex"
            (activeIndexChange)="onActiveIndexChange($event)" />
    </div>

    <div class="justify-end flex mt-2 gap-2">
        <p-button label="Salvar" icon="pi pi-database" iconPos="right"
            (click)="insertOnlineCollectHandler()"></p-button>
    </div>

    <section class="my-2">
        @if(activeIndex === 0) {
        <app-collect-geolocation />
        } @if (activeIndex === 1) {
        <app-collect-complement-data />
        } @if (activeIndex === 2) {
        <app-collect-observation-data />
        }
    </section>

    <div class="w-full justify-end flex my-2 gap-2">
        @if(activeIndex !== 0) {
            <p-button (click)="goToPreviousStep()" severity="contrast" label="Voltar" icon="pi pi-angle-left" iconPos="left" />
        }
        @if(activeIndex !== 2) {
            <p-button (click)="goToNextStep()" severity="contrast" label="Próximo" icon="pi pi-angle-right" iconPos="right" />
        }
    </div>

</div>
