<div class="w-full mt-2">

    <div class="flex w-full justify-between items-start">
        <p-steps class="w-full" [model]="items" [readonly]="false"
            [activeIndex]="activeIndex"
            (activeIndexChange)="onActiveIndexChange($event)" />
    </div>

    <section class="my-6">
        @if(activeIndex === 0) {
        <app-collect-geolocation />
        } @if (activeIndex === 1) {
        <app-collect-complement-data />
        } @if (activeIndex === 2) {
        <app-collect-observation-data />
        }
    </section>

    <div class="w-full flex justify-end">
        <p-button label="Coletar"
            size="large"
            (click)="insertOnlineCollectHandler()"></p-button>
    </div>

</div>
