<div class="container">
  <div class="container__header">
    <h2>Sincronizar</h2>

    <button
      [disabled]="totalCollectedData() === 0"
      (click)="syncAllCollectedData()"
      nz-button
      nzType="primary"
      nzSize="large"
      nzShape="circle">
      <nz-icon nzType="cloud-upload" />
    </button>
  </div>

  @if (collectedData$ | async) {
    <app-sync-data-alert [totalCollectedData]="totalCollectedData()" />

    <section class="container__table">
      <nz-table #editRowTable nzBordered [nzData]="collectedData()" nzTableLayout="fixed">
        <thead>
          <tr>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Tempo Gps</th>
            <th>Massa (kg)</th>
            <th>Safra</th>
            <th>Plantio</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (data of collectedData(); track data.id) {
            <tr>
              <td>{{ data.longitude }}</td>
              <td>{{ data.latitude }}</td>
              <td>{{ data.gps_timestamp | shortTimestamp }}</td>
              <td>{{ data.mass }}</td>
              <td>{{ data.harvest }}</td>
              <td>{{ data.planting_date | date: 'dd/MM/yyyy' : '' : 'pt' }}</td>
              <td>
                <app-sync-actions
                  [data]="data"
                  (updateCollectData)="updateCollectData($event)"
                  (syncCollectData)="syncCollectData($event)"
                  (deleteCollectData)="deleteCollectData($event)">
                </app-sync-actions>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </section>

    <section class="no-select container__cards">
      @if (totalCollectedData() > 0) {
        @for (data of collectedData(); track data.id) {
          <div class="container__cards-card">
            <div class="container__cards-card_actions">
              <span (click)="updateCollectData(data.id)">#{{ data.id.split('-')[0] }}...</span>
              <app-sync-actions
                [data]="data"
                (updateCollectData)="updateCollectData($event)"
                (syncCollectData)="syncCollectData($event)"
                (deleteCollectData)="deleteCollectData($event)">
              </app-sync-actions>
            </div>

            <div class="container__cards-card_data">
              <p>
                Latitude: <strong>{{ data.latitude }}</strong>
              </p>
              <p>
                Longitude: <strong>{{ data.longitude }}</strong>
              </p>
              <p>
                Tempo Gps: <strong>{{ data.gps_timestamp | shortTimestamp }}</strong>
              </p>
              <p>
                Safra: <strong>{{ data.harvest }}</strong>
              </p>
              <p>
                Plantio: <strong>{{ data.planting_date | date: 'dd/MM/yyyy' : '' : 'pt' }}</strong>
              </p>
            </div>
          </div>
        }
      } @else {
        <app-no-sync-data />
      }
    </section>
  }
</div>

<nz-modal
  [(nzVisible)]="isUpdateModalVisible"
  nzTitle="Coleta"
  nzOkText="Sincronizar"
  (nzOnCancel)="isUpdateModalVisible = false"
  (nzOnOk)="confirmUpdateCollectData()">
  <ng-container *nzModalContent>
    <app-sync-data-detail [selectedCollect]="selectedCollect" />
  </ng-container>
</nz-modal>
