<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="loginHandler()" class="form">
    <h2>Login</h2>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
        @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.dirty) {
          <span class="error-message"> O email é obrigatório </span>
        }

        @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.dirty) {
          <span class="error-message"> Formato de email inválido </span>
        }
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input
            nz-input
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
            placeholder="Senha" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            class="ant-input-password-icon"
            [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
        @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.dirty) {
          <span class="error-message"> A senha é obrigatória </span>
        }
        @if (loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.dirty) {
          <span class="error-message"> A senha deve ter pelo menos 6 caracteres </span>
        }
      </nz-form-control>

      <a class="forgot-password" (click)="router.navigateByUrl('/forgot-password')"
        >Esqueceu a senha ?</a
      >
    </nz-form-item>

    <button nz-button nzType="primary" [nzLoading]="isLoading()">
      @if (isLoading()) {
        Loading
      } @else {
        Entrar
      }
    </button>
  </form>
</div>
