<div class="login">
  <div class="login__left">
    <img src="assets/images/background.jpg" alt="Cover Image" />
  </div>

  <div class="login__right">
    <div class="login__right_form-container">
      <h2>Login</h2>
      <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="loginHandler()">
        <nz-form-item id="emailItem">
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input id="emailField" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
            <app-custom-validation-message id="emailErrorMessage" controlName="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item id="passwordItem">
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input
                id="passwordField"
                nz-input
                [type]="passwordVisible ? 'text' : 'password'"
                formControlName="password"
                placeholder="Senha" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span
                id="passwordEyeToggle"
                nz-icon
                class="ant-input-password-icon"
                [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                (click)="passwordVisible = !passwordVisible"></span>
            </ng-template>
            <app-custom-validation-message
              id="passwordErrorMessage"
              controlName="password"
              [minLength]="3" />
          </nz-form-control>
        </nz-form-item>
        <button
          id="loginButton"
          style="width: 100%; margin: 0.2rem 0 0.5rem 0"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="authenticationService.isLoading()"
          [disabled]="authenticationService.isLoading() || loginForm.invalid">
          @if (authenticationService.isLoading()) {
            Loading
          } @else {
            Entrar
          }
        </button>
      </form>

      <p>
        Esqueceu a senha ?
        <a (click)="router.navigateByUrl('/forgot-password')" nz-button nzType="link">Lembrar</a>
      </p>

      <button
        (click)="router.navigateByUrl('/coleta-offline')"
        type="button"
        style="width: 100%; margin: 0.2rem 0 0.5rem 0"
        nz-button
        nz-button
        nzType="dashed">
        Coleta Offline
      </button>
    </div>
  </div>
</div>
