<div class="container">
  <div class="container__left">
    <img src="background.jpg" alt="Cover Image" />
  </div>

  <div class="container__right">
    <div class="container__right_form-container">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordHandler()">
        <h2>Gerar nova Senha</h2>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input
                nz-input
                [type]="passwordVisible ? 'text' : 'password'"
                formControlName="password"
                placeholder="Senha" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span
                id="passwordEyeToggle"
                nz-icon
                class="ant-input-password-icon"
                [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                (click)="passwordVisible = !passwordVisible"></span>
            </ng-template>
            <app-custom-validation-message controlName="password" [minLength]="3" />
          </nz-form-control>
        </nz-form-item>

        <button
          id="resetPasswordButton"
          style="width: 100%; margin: 0.2rem 0 0.5rem 0"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="authenticationService.isLoading()"
          [disabled]="authenticationService.isLoading() || resetPasswordForm.invalid">
          @if (authenticationService.isLoading()) {
            Loading
          } @else {
            Gerar
          }
        </button>
      </form>
      <p>
        <span>Já possui conta ? </span>
        <a (click)="router.navigateByUrl('/login')">Login</a>
      </p>
    </div>
  </div>
</div>
