<div class="reset-password">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordHandler()" class="form">
    <h2>Gerar nova Senha</h2>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input
            nz-input
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
            placeholder="Senha" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            class="ant-input-password-icon"
            [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
        <app-custom-validation-message controlName="password" />
      </nz-form-control>

      <a class="login" (click)="router.navigateByUrl('/login')">Login ?</a>
    </nz-form-item>

    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading()"
      [disabled]="isLoading() || resetPasswordForm.invalid">
      @if (isLoading()) {
        Loading
      } @else {
        Gerar
      }
    </button>
  </form>
</div>
