<section>
    <ng-container
        *ngIf="collectGeolocationDataFormChange$ | async" />
    <p-dialog header="Editar Coordenadas" [modal]="true" [(visible)]="isVisible" [style]="{ width: '25rem' }" (onHide)="hideDialog()">
        <span class="p-text-secondary block mb-8">Altere aqui os dados</span>
        <form [formGroup]="collectGeolocationDataForm" class="form">
            <div class="flex flex-col justify-start gap-2 mb-4">
                <label for="latitude" class="font-semibold w-24">Latitude</label>
                <input pInputText  id="latitude" formControlName="latitude" class="flex-auto" autocomplete="off" />
                <app-custom-validation-message controlName="latitude" />
            </div>
            <div class="flex flex-col justify-start gap-2 mb-4">
                <label for="longitude" class="font-semibold w-24">Longitude</label>
                <input pInputText  id="longitude" formControlName="longitude" class="flex-auto" autocomplete="off" />
                <app-custom-validation-message controlName="longitude" />
            </div>
            <div class="flex flex-col justify-start gap-2 mb-4">
                <label for="gpsTimestamp" class="font-semibold w-24">Tempo GPS</label>
                <input readonly pInputText id="gpsTimestamp" formControlName="gpsTimestamp" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex justify-end gap-2">
                <p-button label="Cancelar" severity="secondary" (click)="isVisible = false" />
                <p-button label="Editar" (click)="updateGeolocationDataHandler()" />
            </div>
        </form>

    </p-dialog>
</section>
