<div class="container">
  <div class="container__left">
    <img src="assets/images/background.jpg" alt="Cover Image" />
  </div>

  <div class="container__right">
    <div class="container__right_form-container">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordHandler()">
        <h2>Recuperar Senha</h2>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
            <app-custom-validation-message controlName="email" />
          </nz-form-control>
        </nz-form-item>

        <button
          id="forgotPasswordButton"
          style="width: 100%; margin: 0.2rem 0 0.5rem 0"
          type="submit"
          nz-button
          nzType="primary"
          [nzLoading]="authenticationService.isLoading()"
          [disabled]="authenticationService.isLoading() || forgotPasswordForm.invalid">
          @if (authenticationService.isLoading()) {
            Loading
          } @else {
            Resetar senha
          }
        </button>
      </form>
      <p>
        <span>Já possui conta ? </span>
        <a (click)="router.navigateByUrl('/login')">Login</a>
      </p>
    </div>
  </div>
</div>
