<div class="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordHandler()" class="form">
    <h2>Recuperar Senha</h2>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
        @if (
          forgotPasswordForm.get('email')?.hasError('required') &&
          forgotPasswordForm.get('email')?.dirty
        ) {
          <span class="error-message"> O email é obrigatório </span>
        }

        @if (
          forgotPasswordForm.get('email')?.hasError('email') &&
          forgotPasswordForm.get('email')?.dirty
        ) {
          <span class="error-message"> Formato de email inválido </span>
        }
      </nz-form-control>

      <div class="back-to-login">
        <span>Já possui conta ?</span>
        <a (click)="router.navigateByUrl('/login')">Login</a>
      </div>
    </nz-form-item>

    <button nz-button nzType="primary" [nzLoading]="isLoading()">
      @if (isLoading()) {
        Loading
      } @else {
        Resetar senha
      }
    </button>
  </form>
</div>
