<div class="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordHandler()" class="form">
    <h2>Recuperar Senha</h2>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
        <app-custom-validation-message controlName="email" />
      </nz-form-control>

      <div class="back-to-login">
        <span>Já possui conta ?</span>
        <a (click)="router.navigateByUrl('/login')">Login</a>
      </div>
    </nz-form-item>

    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading()"
      [disabled]="isLoading() || forgotPasswordForm.invalid">
      @if (isLoading()) {
        Loading
      } @else {
        Resetar senha
      }
    </button>
  </form>
</div>
