.ant-input-affix-wrapper {
  border-radius: 5px;
  height: 40px;
}

textarea.ant-input {
  border-radius: 5px;
  padding: 10px;
}

.ant-pagination-item {
  border-radius: 5px;
}

.ant-picker {
  border-radius: 5px;
  height: 40px;
  width: 100%;
}

.ant-btn {
  border-radius: 5px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-card-body {
  padding: 15px 20px;

  @media screen and (max-width: 767px) {
    padding: 15px 2px;
  }
}

.ant-steps-item-content,
.ant-steps-item-title,
.ant-steps-item-title {
  font-size: 14px !important;

  @media screen and (max-width: 418px) {
    font-size: 11px !important;
  }

  @media screen and (max-width: 300px) {
    font-size: 8px !important;
  }
}
