.ant-input-affix-wrapper {
  border-radius: 5px;
  height: 40px;
}

textarea.ant-input {
  border-radius: 5px;
  padding: 10px;
}

.ant-pagination-item {
  border-radius: 5px;
}

.ant-picker {
  border-radius: 5px;
  height: 40px;
  width: 100%;
}

.ant-btn {
  border-radius: 5px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-card-body {
  padding: 20px 5px;
}
