::ng-deep .p-dataview {
  .p-dataview-emptymessage {
    padding: 1rem;
    font-size: 1.1rem;
  }
}

.light-background {
  background-image: url('/assets/images/light-wave.svg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.dark-background {
  background-image: url('/assets/images/dark-wave.svg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
