<p-dialog  [(visible)]="isVisible"
    [breakpoints]="{ '450px': '100vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false"
    header="Dados complementares" [modal]="true" (onHide)="hideDialog()">

    <ng-container
        *ngIf="collectComplementDataFormChange$ | async" />

    <ng-template #content>
        <p-toast />
        <form [formGroup]="collectComplementDataForm" class="form">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="my-2">
                    <label for="mass" class="block font-bold mb-3">Massa (kg)</label>
                    <input class="w-full" type="text" formControlName="mass"
                        pInputText id="mass" fluid />
                    <app-custom-validation-message controlName="mass" />
                </div>

                <div class="my-2">
                    <label for="plantingDate" class="font-bold block mb-3">Data
                        plantio</label>
                    <p-datepicker appendTo="body" formControlName="plantingDate"
                        [showIcon]="true" inputId="plantingDate"
                        dateFormat="yy-mm-dd" [showOnFocus]="false" />
                </div>

                <div class="my-2">
                    <label for="variety"
                        class="block font-bold mb-3">Variedade</label>
                    <p-select id="variety" formControlName="variety"
                        [options]="lycheeVarieties"
                        placeholder="Selecione a variedade" class="w-full" />
                    <app-custom-validation-message controlName="variety"
                        [minLength]="3" />
                </div>

                <div class="my-2">
                    <label for="harvest"
                        class="block font-bold mb-3">Safra</label>
                    <input class="w-full" type="text" formControlName="harvest"
                        pInputText id="harvest" fluid />
                    <app-custom-validation-message controlName="harvest" />
                </div>

                <div class="my-2">
                    <label for="lifeOfTheTree" class="block font-bold mb-3">Vida
                        do
                        pé</label>
                    <input class="w-full" type="text"
                        formControlName="lifeOfTheTree"
                        pInputText id="lifeOfTheTree" fluid />
                    <app-custom-validation-message
                        controlName="lifeOfTheTree" [maxLength]="10" />
                </div>

                <div class="my-2">
                    <label for="region" class="block font-bold mb-3">Região</label>
                    <input class="w-full" type="text"
                        formControlName="region"
                        pInputText id="region" fluid />
                    <app-custom-validation-message
                        controlName="region" />
                </div>

            </div>

            <div class="my-2">
                <label for="description"
                    class="block font-bold mb-3">Descrição</label>
                <textarea class="w-full" rows="4" pTextarea
                    formControlName="description"
                    id="description"></textarea>
                <app-custom-validation-message controlName="description"
                    [maxLength]="250" />
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Editar" icon="pi pi-check" (click)="updateCollectHandler()" />
    </ng-template>
</p-dialog>
