<div id="map2"></div>

@let collects = collectService.numberOfFilteredCollects();

<div class="mx-1 mt-4 flex flex-wrap w-full items-center justify-center gap-8">
    <p-button icon="pi pi-wifi" [disabled]="collects === 0"
         severity="warn" label="Detectar"
        (click)="detectNearestCollect()" />
    <p-button icon="pi pi-map" [disabled]="!collectSearchFiltersService.selectedRegion()"
         severity="info" [label]="this.polygonLayer ? 'Esconder Região' : 'Ver Região'"
        (click)="plotRegionPolygon()" />
    <p-button icon="pi pi-map-marker"  severity="help" label="Posicionar"
        (click)="reloadPage()" />
</div>
