@let collects = collectService.numberOfFilteredCollects();

<div class="mb-4 flex flex-wrap w-full items-center justify-center md:justify-between gap-8">
    <span class="hidden md:block font-bold self-start md:text-xl dark:text-slate-300 text-slate-800">Exibição de coletas</span>
    <div class="flex gap-2">
        <p-button icon="pi pi-wifi" [disabled]="collects === 0"
         severity="warn" label="Detectar"
        (click)="detectNearestCollect()" />
    <p-button icon="pi pi-map" [disabled]="!collectSearchFiltersService.selectedRegion()"
         severity="info" [label]="this.polygonLayer ? 'Esconder Região' : 'Ver Região'"
        (click)="plotRegionPolygon()" />
    <p-button icon="pi pi-map-marker"  severity="help" label="Posicionar"
        (click)="reloadPage()" />
    </div>
</div>

<div id="map2"></div>
