@let collects = collectedData();
@let totalOfCollectedData = totalCollectedData();

@if(totalOfCollectedData === 0) {
<div class="mt-8 w-full flex flex-col justify-center items-center gap-4">
    <img class="w-1/3" src="assets/images/no-data.svg" alt="Sem resultados" />
    <span class="text-xl dark:text-slate-300 text-slate-800">Nenhum
        resultado.</span>
</div>
} @else {
    <p-toolbar styleClass="mb-4 md:my-4">
        <ng-template #start>
            <p-button size="small" [disabled]="totalCollectedData() === 0" label="Exportar" icon="pi pi-upload" severity="success"
                (click)="exportCSV()" />
        </ng-template>

        <ng-template #end>
            <p-button size="small" severity="danger" label="Excluir" icon="pi pi-trash" class="mr-2"
                [disabled]="!selectedCollects || !selectedCollects.length" (click)="deleteSelectedCollects()" />
            <p-button size="small" [disabled]="!selectedCollects || !selectedCollects.length" label="Sincronizar Item" icon="pi pi-sync"
                severity="info" (click)="syncSelectedCollects()" />
        </ng-template>
    </p-toolbar>

    <!-- Tabela -->
    <p-table class="hidden md:block" #dt [value]="collects" [rows]="10" [paginator]="true"
        [globalFilterFields]="['mass', 'region']" [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedCollects"
        [scrollable]="true" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} coletas" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100]">
        <ng-template #caption>
            <div class="flex items-center justify-between flex-wrap gap-4">
                <h5 class="m-0">Coletas para Sincronizar</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input class="w-full sm:w-auto" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                        placeholder="Pesquisar..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="mass">
                    Mass
                    <p-sortIcon field="mass" />
                </th>
                <th pSortableColumn="region">
                    Região
                    <p-sortIcon field="region" />
                </th>
                <th style="min-width: 10rem">Latitude</th>
                <th style="min-width: 10rem">Longitude</th>
                <th style="min-width: 10rem">Tempo GPS </th>
                <th>Geolocalização</th>
                <th>Complementares</th>
                <th>Observação</th>
            </tr>
        </ng-template>
        <ng-template #body let-collect>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="collect" />
                </td>
                <td>{{ collect.mass }}</td>
                <td>{{ collect?.region }}</td>
                <td style="min-width: 10rem">{{ collect.latitude}}</td>
                <td style="min-width: 10rem">{{ collect.longitude}}</td>
                <td style="min-width: 10rem">{{ collect.gps_timestamp |
                    shortTimestamp}}</td>
                <td>
                    <p-button icon="pi pi-map-marker" severity="danger" [rounded]="true" [text]="true"
                        (click)="showGeolocationDialog(collect)" />
                </td>
                <td>
                    <p-button icon="pi pi-search-plus" severity="info" [rounded]="true" [text]="true"
                        (click)="showComplementDialog(collect)" />
                </td>
                <td>
                    <p-button icon="pi pi-eye" severity="warn" [rounded]="true" [text]="true"
                        (click)="showObservationDialog(collect)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Cards -->
    <div class="md:hidden flex flex-col gap-2 justify-center items-center w-full">
        <p-button size="small" label="Sincronizar Todos" icon="pi pi-sync" class="self-end md:hidden block" severity="info"
            (click)="syncAllCollects()" />

        <section class="w-full h-full">
            <span class="text-md sm:text-lg md:text-xl dark:text-slate-300 text-slate-800">Mostrando
                {{totalOfCollectedData}} resultados</span>
            <div
                class="mx-1 mt-4 w-full min-h-[100px] gap-4 flex justify-center sm:justify-between items-center flex-wrap ">
                @for(collect of collects; track collect.id) {
                <div style="box-shadow: 0px 6px 20px rgba(132,204,22,0.2);"
                    [ngClass]="{ 'dark-background': layoutService.isDarkTheme(), 'light-background': !layoutService.isDarkTheme()}"
                    class="cursor-pointer w-[180px] rounded-lg p-1/2 sm:p-1 gap-1 bg-slate-300 dark:bg-slate-800">
                    <div class="py-2 px-0 flex justify-between items-center">
                        <span class="label-medium font-bold text-surface-500 text-sm md:text-md">
                            #{{ collect.id.split("-")[0] }}...</span>
                        @if(collect?.region) {
                        <div
                            class="shadow-lg shadow-green-500/50 inline-flex items-center justify-center rounded-md w-10 h-7 bg-green-200 hover:bg-green-300 transition-all duration-200 text-sm dark:bg-green-800 dark:hover:bg-green-700">
                            <div class="text-green-900 dark:text-green-50 font-medium text-center px-1">
                                R-{{collect.region}}
                            </div>
                        </div>
                        }
                    </div>
                    <div class="pl-1 my-2 gap-2 flex flex-col items-start justify-start">
                        <div class="flex items-center justify-between w-full">
                            <span class="text-xs sm:text-md"> Massa:
                                <strong>{{collect.mass}} Kg</strong>
                            </span>
                            <p-checkbox class="mr-2" [binary]="true" (onChange)="selectCollectHandler($event, collect.id)" />
                        </div>
                        <span class="text-xs sm:text-md"> Ocorrências:
                            <strong>3</strong></span>
                    </div>

                    <div class="px-0.5 mt-4 gap-2 flex flex-wrap items-start justify-between">
                        <span class="text-sm">
                            {{collect.latitude.toFixed(5)}}</span>
                        <span class="text-sm">
                            {{collect.longitude.toFixed(5)}}</span>
                    </div>

                    <div class="px-0.5 gap-2 flex flex-wrap items-start justify-end">

                        <p-button pTooltip="Coordenadas" tooltipPosition="left" icon="pi pi-map-marker" severity="danger"
                            severity="info" [rounded]="true" [text]="true" (click)="showGeolocationDialog(collect)" />
                        <p-button pTooltip="Dados complementares" tooltipPosition="left"
                            (click)="showComplementDialog(collect)" icon="pi pi-search-plus" severity="info"
                            [rounded]="true" [text]="true" />
                        <p-button pTooltip="Observações" tooltipPosition="left" (click)="showObservationDialog(collect)"
                            icon="pi pi-eye" severity="warn" [rounded]="true" [text]="true" />
                    </div>
                </div>
                }
            </div>

        </section>
    </div>
}

<app-geolocation-dialog (updateDataHandler)="updateGeolocationDataHandler()" [isVisible]="geolocationDialog"
    (dialogClosed)="geolocationDialog = false" />

<app-complement-dialog (updateDataHandler)="updateComplementDataHandler()" [isVisible]="complementDialog"
    (dialogClosed)="complementDialog = false" />

<app-observation-dialog (updateDataHandler)="updateObservationDataHandler()" [isVisible]="observationDialog"
    (dialogClosed)="observationDialog = false" />

<p-confirmdialog [style]="{ width: '450px' }" />
