.container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  &__items {
    width: 60%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      gap: 2px;

      nz-icon {
        margin-left: 10px;
        color: #1890ff;
        font-size: 18px;
        opacity: 0.8;

        &:hover {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }

  &__map {
    height: 150px;
    width: 90%;
    margin: 0 20px;
    border-radius: 10px;
  }
}

nz-card {
  height: 250px;

  @media screen and (max-width: 1150px) {
    height: auto;
  }
}

.active {
  color: #49cc49;
}

.off {
  color: #cf4747;
}
