<div class="container">
  <h2>Coletas</h2>
  <nz-table
    #fixedTable
    [nzData]="collectService.plantData()"
    [nzScroll]="{ x: '1150px', y: '240px' }">
    <thead>
      <tr>
        <th nzLeft>Longitude</th>
        <th nzLeft>Latitude</th>
        <th nzLeft>Tempo Gps</th>
        <th>Massa (kg)</th>
        <th>Safra</th>
        <th>Descrição</th>
        <th>Data plantio</th>
        <th>Usuário</th>
      </tr>
    </thead>
    <tbody>
      @for (data of collectService.plantData(); track data.id) {
        <tr>
          <td nzLeft>{{ data.longitude }}</td>
          <td nzLeft>{{ data.latitude }}</td>
          <td nzLeft>{{ data.gps_timestamp | timestamp }}</td>
          <td>{{ data.mass }}</td>
          <td>{{ data.harvest }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.planting_date | date: 'fullDate' : '' : 'pt' }}</td>
          <td>{{ data.users.full_name }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
