<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="200px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/home/collect" target="_blank">
        <img src="favicon.ico" alt="logo" />
        <h1>Pomar na mão</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      @for (menuItem of menuItems; track menuItem.title) {
        <li nz-submenu nzOpen [nzTitle]="menuItem.title" [nzIcon]="menuItem.icon">
          <ul>
            @for (route of menuItem.routes; track route.routerLink) {
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="route.routerLink">{{ route.title }}</a>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger menu-toggle" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
          <nz-icon
            class="trigger menu-logout"
            nzType="logout"
            routerLink="/login"
            nzTooltipTitle="Sair"
            nzTooltipPlacement="left"
            nz-button
            nz-tooltip />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
