.main {
  height: 100vh;

  &__sidebar {
    z-index: 10;
    min-height: 100%;
    box-shadow: 2px 0 6px rgba(177, 177, 177, 0.35);
    padding: 0 !important;

    &-logo {
      position: relative;
      height: 64px;
      padding-left: 24px;
      overflow: hidden;
      line-height: 64px;
      transition: all 0.3s;

      img {
        display: inline-block;
        height: 32px;
        width: 32px;
        vertical-align: middle;
      }

      h1 {
        display: inline-block;
        margin: 0 0 0 20px;
        font-weight: 600;
        font-size: 14px;
        font-family:
          Avenir,
          Helvetica Neue,
          Arial,
          Helvetica,
          sans-serif;
        vertical-align: middle;
      }
    }
  }
}

.header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #1f1f1f;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  &__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition:
      all 0.3s,
      padding 0s;

    &-left {
      display: none;
      align-self: start;

      &:hover {
        color: #1890ff;
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    &-center {
      display: block;

      &:hover {
        color: #1890ff;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      & span {
        font-size: 14px;
        display: block;

        > strong {
          font-style: italic;

          &:hover {
            text-decoration: underline;
          }
        }

        @media screen and (max-width: 300px) {
          display: none;
        }
      }

      &_logout {
        &:hover {
          color: #1890ff;
        }
      }
    }
  }
}

.content {
  padding: 20px;
  background: #1f1f1f;
  height: 100%;
  overflow-y: auto;

  @media screen and (max-width: 767px) {
    padding: 5px;
  }
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-content {
  margin: 24px;
}

@media screen and (max-width: 576px) {
  nz-content {
    margin: 0;
  }
}
