<div class="w-full flex flex-col sm:flex-row justify-between gap-4 sm:gap-4">
    <ng-container
        *ngIf="collectComplementDataFormChange$ | async" />
    <div class="w-full flex flex-col justify-between sm:w-1/3 gap-1">
        <p-message class="mb-4" severity="info">
            <span class="text-justify font-semibold">
                Os dados complementares são dados gerais referente a observação
                da
                planta
                em questão. A única informação obrigatória é a massa, os outros
                são
                opcionais mas
                é recomendado que seja inserido para futuras avaliações e
                levantamentos estatisticos
            </span>
        </p-message>

        <img class="hidden sm:block" height="150" alt="Pé de lichia"
            src="assets/images/lichia.png" />
    </div>

    <p-card class="w-full sm:w-2/3" header="Dados complementares">
        <form [formGroup]="collectComplementDataForm" class="form">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="my-2">
                    <label for="mass" class="block font-bold mb-3">Massa
                        (kg)</label>
                    <input class="w-full" type="text" formControlName="mass"
                        pInputText id="mass" fluid />
                    <app-custom-validation-message controlName="mass" />
                </div>

                <div class="my-2">
                    <label for="plantingDate" class="font-bold block mb-3">Data
                        plantio</label>
                    <p-datepicker appendTo="body" formControlName="plantingDate"
                        [showIcon]="true" inputId="birthday"
                        dateFormat="yy-mm-dd" [showOnFocus]="false" />
                </div>

                <div class="my-2">
                    <label for="variety"
                        class="block font-bold mb-3">Variedade</label>
                    <input class="w-full" type="text" formControlName="variety"
                        pInputText id="variety" fluid />
                    <app-custom-validation-message controlName="variety"
                        [minLength]="3" />
                </div>

                <div class="my-2">
                    <label for="harvest"
                        class="block font-bold mb-3">Safra</label>
                    <input class="w-full" type="text" formControlName="harvest"
                        pInputText id="harvest" fluid />
                    <app-custom-validation-message controlName="harvest" />
                </div>

                <div class="my-2">
                    <label for="lifeOfTheTree" class="block font-bold mb-3">Vida
                        do
                        pé</label>
                    <input class="w-full" type="text"
                        formControlName="lifeOfTheTree"
                        pInputText id="lifeOfTheTree" fluid />
                    <app-custom-validation-message
                        controlName="lifeOfTheTree" [maxLength]="10" />
                </div>

            </div>

            <div class="my-2">
                <label for="description"
                    class="block font-bold mb-3">Descrição</label>
                <textarea class="w-full" rows="11" pTextarea
                    formControlName="description"
                    id="description"></textarea>
                <app-custom-validation-message controlName="description"
                    [maxLength]="250" />
            </div>
        </form>
    </p-card>
</div>
