<div class="flex flex-col">
    <span class="text-2xl font-semibold opacity-55">Filtros</span>
    <div
        class="w-full flex md:flex-col flex-row flex-wrap items-start justify-between gap-2">

        <!-- Safra -->
        <div class="my-2 w-full">
            <span
                class="text-md md:text-xl text-surface-400 mb-0.5">Safra</span>
            <div class="flex flex-col gap-2">
                <input pInputText id="selectedHarvest"
                    aria-describedby="selectedHarvestField"
                    [(ngModel)]="collectSearchFiltersService.selectedHarvest" />
                <small class="font-semibold text-blue-500 dark:text-cyan-300"
                    id="selectedHarvestField">Filtre por alguma safra em
                    específico.</small>
            </div>
        </div>

        <div class="my-2 w-full">
            <span
                class="text-md md:text-xl text-surface-400 mb-0.5">Regiões</span>
            <div class="flex flex-col gap-2">
                <p-select [options]="regions()"
                    [(ngModel)]="collectSearchFiltersService.selectedRegion"
                    [checkmark]="true" [showClear]="true"
                    placeholder="Selecione a região" />
                <small class="font-semibold text-blue-500 dark:text-cyan-300"
                    id="selectedHarvestField">Seleciona apenas uma região de
                    alcançe para o filtro</small>
            </div>
        </div>

        <div class="my-2 w-full">
            <span
                class="text-md md:text-xl text-surface-400 mb-0.5">Ocorrências</span>
            <div
                class="flex flex-wrap justify-start gap-y-4 gap-x-8 max-w-[90%]">
                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences" value="stick"
                        inputId="stick" />
                    <label for="stick" class="text-sm md:text-md ml-2">Galho
                        Seco</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="broken_branch"
                        inputId="brokenBranch" />
                    <label for="brokenBranch"
                        class="text-sm md:text-md ml-2">Galho
                        Quebrado</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="vine_growing"
                        inputId="vineGrowing" />
                    <label for="vineGrowing"
                        class="text-sm md:text-md ml-2">Cipó crescendo</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences" value="burnt_branch"
                        inputId="burntBranch" />
                    <label for="burntBranch"
                        class="text-sm md:text-md ml-2">Queimado</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="struck_by_lightning"
                        inputId="struckByLightning" />
                    <label for="struck_by_lightning"
                        class="text-sm md:text-md ml-2">Atingido por
                        raio</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences" value="drill"
                        inputId="drill" />
                    <label for="drill"
                        class="text-sm md:text-md ml-2">Broca</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences" value="anthill"
                        inputId="anthill" />
                    <label for="anthill"
                        class="text-sm md:text-md ml-2">Formigueiro</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="in_experiment"
                        inputId="inExperiment" />
                    <label for="inExperiment" class="text-sm md:text-md ml-2">Em
                        experimento/teste</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="weeds_in_the_basin"
                        inputId="weedsInTheBasin" />
                    <label for="weedsInTheBasin"
                        class="text-sm md:text-md ml-2">Mato na
                        bacia</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="mites"
                        inputId="mites" />
                    <label for="mites" class="text-sm md:text-md ml-2">Presença
                        de ácaro</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="thrips"
                        inputId="thrips" />
                    <label for="thrips" class="text-sm md:text-md ml-2">Presença
                        de tripes</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="empty_collection_box_near"
                        inputId="emptyCollectionBoxNear" />
                    <label for="emptyCollectionBoxNear"
                        class="text-sm md:text-md ml-2">Caixa de
                        colheita vazia perto</label>
                </div>

                <div class="my-2 flex items-center">
                    <p-radiobutton
                        [(ngModel)]="collectSearchFiltersService.selectedOccurrences"
                        name="occurrences"
                        value="fertilization_or_manuring"
                        inputId="fertilizationOrManuring" />
                    <label for="fertilizationOrManuring"
                        class="text-sm md:text-md ml-2">Parada de
                        pulverização/adubação</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Action -->
    <div class="flex md:justify-between justify-end gap-2 my-4">
        <p-button [disabled]="collectSearchFiltersService.isFiltersDisabled()" label="Limpar" icon="pi pi-eraser"
            severity="secondary" (click)="clearFilters()" />
        <p-button [disabled]="collectSearchFiltersService.isFiltersDisabled()" label="Aplicar" icon="pi pi-filter" severity="primary"
            (click)="applyFilters()" />
    </div>
</div>
