<div class="flex flex-col items-center sm:flex-row gap-2"
    [class]="className">
    <app-input-field
        type="date"
        [placeholder]="placeholderStart"
        [value]="dateStartIso"
        (valueChange)="onDateStartChange($event)"
        class="flex-grow"></app-input-field>
    <span class="text-gray-700 dark:text-gray-400"> - </span>
    <app-input-field
        type="date"
        [placeholder]="placeholderEnd"
        [value]="dateEndIso"
        (valueChange)="onDateEndChange($event)"
        class="flex-grow"></app-input-field>
</div>
