.container {
  padding: 0;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__steps {
    margin-top: 20px;
    padding: 0 6px;

    @media screen and (min-width: 450px) {
      padding: 0 30px;
    }
  }

  &__statistics {
    margin: 20px;
    padding-bottom: 20px;
  }

  &__image {
    margin: 40px;
  }

  &__complement-data {
    margin: 20px;
    padding-bottom: 20px;
  }

  &__observation-data {
    margin: 20px;
    padding-bottom: 20px;
  }
}
