<div class="container">
  <div class="container__header">
    <h2>Coletar</h2>

    <button (click)="collectHandler()" nz-button nzType="primary" nzSize="large" nzShape="circle">
      <nz-icon nzType="plus-circle" />
    </button>
  </div>

  <div class="container__steps">
    <nz-steps
      nzSize="small"
      [nzCurrent]="collectStep()"
      (nzIndexChange)="onCollectStepChange($event)">
      <nz-step nzTitle="GPS"></nz-step>
      <nz-step nzTitle="Imagem"></nz-step>
      <nz-step nzTitle="Dados"></nz-step>
      <nz-step nzTitle="Ocorrências"></nz-step>
    </nz-steps>
  </div>

  @if (collectStep() === 0) {
    <div class="container__statistics">
      <app-geolocation />
    </div>
  }

  @if (collectStep() === 1) {
    <div class="container__image">
      <app-plant-upload />
    </div>
  }

  @if (collectStep() === 2) {
    <div class="container__complement-data">
      <app-complement-data />
    </div>
  }

  @if (collectStep() === 3) {
    <div class="container__observation-data">
      <app-observation-data />
    </div>
  }
</div>
