.container {
  padding: 0;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__steps {
    margin: 20px 10px;
  }

  &__statistics {
    margin: 20px;
    padding-bottom: 20px;
  }

  &__image {
    margin: 40px;
  }

  &__complement-data {
    margin: 20px;
    padding-bottom: 20px;
  }

  &__observation-data {
    margin: 20px;
    padding-bottom: 20px;
  }
}
