.container {
  &__photo_geolocalization {
    margin-bottom: 20px;

    @media screen and (max-width: 576px) {
      gap: 20px;
    }
  }

  &__action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 15px 0;
  }
}

#map {
  height: 40vh;
  width: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
