<div class="container">
  <div class="container__header">
    <h2>Coletar</h2>

    <button (click)="collectHandler()" nz-button nzType="primary" nzSize="large" nzShape="circle">
      <nz-icon nzType="plus-circle" />
    </button>
  </div>

  <div class="container__steps">
    <nz-steps
      nzSize="small"
      [nzCurrent]="collectStep()"
      (nzIndexChange)="onCollectStepChange($event)">
      @if (isMobile) {
        @for (step of collectMobileSteps(); track step.icon) {
          <nz-step [nzIcon]="step.icon"></nz-step>
        }
      } @else {
        @for (step of collectDesktopSteps(); track step.title) {
          <nz-step [nzTitle]="step.title"></nz-step>
        }
      }
    </nz-steps>
  </div>

  @if (collectStep() === 0) {
    <div class="container__statistics">
      <app-geolocation />
    </div>
  }

  @if (collectStep() === 1) {
    <div class="container__image">
      <app-plant-upload />
    </div>
  }

  @if (collectStep() === 2) {
    <div class="container__complement-data">
      <app-complement-data />
    </div>
  }

  @if (collectStep() === 3) {
    <div class="container__observation-data">
      <app-observation-data />
    </div>
  }
</div>
