@let plants = workRoutinePlantsStore.workRoutinePlants();

@let selectedWorkRoutine = workRoutineStore.selectedWorkRoutine();

@if(selectedWorkRoutine) {
    <section class="card flex flex-col">
        <div class="flex justify-center">
          <p-stepper [value]="1" class="step-overrides py-5 overflow-auto w-full">
            <p-step-list>
                @for(plant of plants; track plant.id; let listIndex = $index) {
                    <p-step [value]="listIndex + 1">Planta {{plant.id.split('-')[0]}} ...</p-step>
                }
            </p-step-list>
            <p-step-panels>
                @for(plant of plants; track plant.id; let panelIndex = $index) {
                    <p-step-panel [value]="panelIndex + 1">
                        <ng-template #content>
                          <div class="flex flex-col w-full">
                            <div
                              class="w-full border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                              <p-splitter [style]="{ height: '350px', width: '100%' }">
                                <ng-template #panel>
                                  <div class="flex items-center justify-center h-full">

                                  </div>
                                </ng-template>
                                <ng-template #panel>
                                  <div class="flex items-center justify-center h-full">Depois</div>
                                </ng-template>
                              </p-splitter>
                            </div>
                          </div>

                        </ng-template>
                      </p-step-panel>
                }
            </p-step-panels>
          </p-stepper>
        </div>
    </section>
}

